<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
<!--    引入配置文件-->
    <context:property-placeholder location="jdbc.properties"/>
<!--    druid 连接池-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="jdbc:mariadb://localhost:3306/stem"/>
        <property name="driverClassName" value="org.mariadb.jdbc.Driver"/>
        <property name="username" value="${at_username}"/>
        <property name="password" value="${password}"/>
    </bean>
<!--    jdbc Template-->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>
<!--    dao 配置注入 di jdbcTemplate -->
    <bean id="studentDao" class="com.atqicat.dao.impl.StudentDaoUmpl">
        <property name="template" ref="jdbcTemplate"/>
    </bean>
<!--    service 配置注入 di dao -->
    <bean id="studentService" class="com.atqicat.service.Impl.StudentServiceImpl" >
        <property name="studentDao" ref="studentDao"/>
    </bean>
<!--    controller 配置注入 di service -->
    <bean id="studentController" class="com.atqicat.controller.StudentController">
        <property name="studentService" ref="studentService"/>
    </bean>
</beans>